@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
}

main {
    display: flex;
}

.side_div {
  width: 40%;
  height: 100vh;
}

.side_bg {
    width: 100%;
    height: 100vh;
}

.card_front_div {
    position: absolute;
    top: 40%; 
    left: 30%;  
    transform: translate(-50%, -50%); 

    color: #fff;
}

.card_front { 
    width: 400px;
}

.card_front_detail {
    width: 85%;
    position: absolute;
    top: 10%; 
    left: 8%; 
}

.card_front_num {
    margin-top: 50px;
    font-size: 1.4rem;
    letter-spacing: 3.8px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;

    opacity: 0.8;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.card_back_div {
    position: absolute;
    top: 68%; 
    left: 35%;  
    transform: translate(-50%, -50%); 
}

.card_back {
    width: 400px;
}

.card_back_cvc {
    color: #fff;
    position: absolute;
    top: 38%; 
    left: 80%; 
    letter-spacing: 2px;
    font-size: 0.8rem;
    opacity: 0.8;
}



.form_div {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.last_form_div {
    display: flex;
    gap: 20px;
}

.row_date {
    display: flex;
    gap: 10px;
}

input {
    padding: 0.5em 0 0.5em 0.6em;
    width: 100%;
    border-radius: 10px;
    border: 2px solid hsl(270, 3%, 87%);
    outline: none;
    font-size: 1.2rem;
    font-family: 'Space Grotesk', sans-serif;
}

input:focus {
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: hsl(278, 68%, 11%);
}

.submit {
    background-color: black;
    color: #fff;
    padding: 0.7em;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 10px;
}

.error {
    color: hsl(0, 100%, 66%);
    font-size: 0.8rem;
}

.complete_div {
    display: none;
    align-items: center;
}

.complete_ty {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.complete_text {
 color: hsl(279, 6%, 55%);   
 margin-top: -10px;
 font-size: 1rem;
}

.continue {
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    padding: 1em 9em;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.attribution {
    text-align: right;
}